<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login-confd admin-home</title>
  <meta name="description" content="confd console">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">-->
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="/static/normalize.min.css">
<link rel="stylesheet" href="/static/skeleton.min.css">
<link rel="stylesheet" href="/static/sweetalert.min.css">
<link rel="stylesheet" href="/static/style.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="favicon.png">
<script src="/static/vue.min.js"></script>
<script type="text/javascript" src="/static/sweetalert.min.js"></script>
<script type="text/javascript" src="/static/vue-resource.min.js"></script>
<script src="/static/common.js"></script>
<script src="/static/login.js"></script>
</head>
<body>
    <div class="container" id="container" style="padding-top:20px">
        <div class="row">
            <h4>Login</h4>
        </div>
        <div class="row">
        <form style="margin-bottom:0!important;">
            <div class="row">
                    <label for="key">username</label>
                    <input class="u-full-width" type="text" v-model="form.username" name="username" id="username" placeholder="username"/>
            </div>
            <div class="row">
                    <label for="key">password</label>
                    <input class="u-full-width" type="password" v-model="form.password" name="password" id="password" placeholder="password"/>
            </div>
            <div class="row" style="margin-top:0!important;padding-top:0!important;">
                <input value="Login" class="button-primary four columns" type="button" id="btnLogin" @click="login()"/>
            </div>
        </form>
        </div>
    </div>
<script type="text/javascript" charset="utf-8">
    config.init();
    var app = app('container');
</script>
</body>
</html>
